

<!DOCTYPE html>

<html>
    <head>
        <title>ورود یا ثبت نام</title>
        <link href="~/Content/loginRegister.css" rel="stylesheet" />
    </head>
    <body>
        <div>
            <div class="container">
                <!-- Codrops top bar -->


                <section>
                    <div id="container_demo">
                        <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
                        <a class="hiddenanchor" id="toregister"></a>
                        <a class="hiddenanchor" id="tologin"></a>
                        <div id="wrapper-login">
                            <div id="login" class="animate form">
                                @Html.Partial("_Login")
                            </div>

                                <div id="register" class="animate form">
                                    @Html.Partial("_RegisterByName")
                                </div>

                        </div>
                    </div>
                </section>
            </div>
        </div>

        <script src="~/Scripts/jquery-2.1.4.min.js"></script>
        
        <script>
            $(function() {

                function submit_register(e) {
                    debugger;
                    e.preventDefault();

                    var validationContainer = $('.register_validation-error');
                    var validationList = $('#register_errors');
                    
                    validationList.html('');
                    validationContainer.hide();
                    
                    var frm = $(this);
                    $.post(frm.attr('action'), frm.serialize())
                        .then(function(result) {
                            if (result.success) {
                                window.location = "/Account";
                                return;
                            }

                            validationContainer.show();
                            $.each(result.errors, function(i, item) {
                                $.each(item.errors, function(i, item) {
                                    validationList.append('<li>' + item + '</li>');
                                });
                            });
                        });
                }

                $('#form_registerByName').submit(submit_register);

                $('#form_login').submit(function(e) {
                    e.preventDefault();

                    var validationContainer = $('.login_validation-error');
                    var validationList = $('#login_errors');
                    validationList.html('');

                    var frm = $(this);

                    $.post(frm.attr('action'), frm.serialize())
                        .then(function(result) {
                            if (result.success) {
                                window.location = "/";
                                return;
                            }

                            validationContainer.show();
                            $.each(result.errors, function(i, item) {
                                $.each(item.errors, function(i, item) {
                                    validationList.append('<li>' + item + '</li>');
                                });
                            });
                        });
                });

                $('#form_InitializeByEmployee').show();
            });
        </script>
    </body>

    

</html>