<ctag-content title="{{'UPDATE INPUT'| translate}}">
    <form name="form">
        <a class="btn btn-success" ng-click="save(form)" ng-disabled="form.$invalid">
            <i class="glyphicon glyphicon-floppy-disk"></i>
            {{'SAVE' | translate}}
        </a>

        <div class="row" style="padding: 5px">
            <div class="alert alert-danger" role="alert" ng-if="errors.any()">
                <strong>لطفا خطاها را اصلاح کنید</strong>
                <ul ng-repeat="err in request.errors">
                    <li>{{err}}</li>
                </ul>
            </div>

            <div class="col-md-6">
                <div class="form-group" ng-class="{ 'has-error' : form.date.$invalid && !form.date.$pristine }">
                    <label class="control-label">{{'DATE' | translate}}</label>

                    <div>
                        <ctag-datepicker model="input.date" name="date" required></ctag-datepicker>
                    </div>
                    <p ng-show="form.date.$invalid && !form.date.$pristine">
                        <span class="label label-danger">{{'DATE IS REQUIRED' | translate}}</span>
                    </p>
                </div>

                <div class="form-group"
                     ng-class="{ 'has-error' : form.sectionId.$invalid && !form.sectionId.$pristine }">
                    <label class="control-label">{{'SECTION' | translate}}</label>

                    <div>
                        <ctag-combo url="/api/sections" valueprop="id" displayprop="title"
                                    placeholder="قسمت را وارد کنید ..."
                                    model="input.sectionId" name="sectionId" width="400px" required></ctag-combo>
                    </div>
                    <p ng-show="form.sectionId.$invalid && !form.sectionId.$pristine">
                        <span class="label label-danger">{{'SECTION IS REQUIRED' | translate}}</span>
                    </p>
                </div>

                <div class="form-group"
                     ng-class="{ 'has-error' : form.deliveryId.$invalid && !form.deliveryId.$pristine }">
                    <label class="control-label">{{'DELIVERY' | translate}}</label>

                    <div>
                        <ctag-combo url="/api/employees" valueprop="id" displayprop="title"
                                    placeholder="درخواست دهنده را وارد کنید ..."
                                    model="input.deliveryId" width="400px"></ctag-combo>
                    </div>
                    <p ng-show="form.deliveryId.$invalid && !form.deliveryId.$pristine">

                    </p>
                </div>
            </div>
        </div>
    </form>

    <a class="btn btn-primary" ng-click="createDetail.init()">
        <i class="glyphicon glyphicon-plus"></i>
        {{'NEW ROW'|translate}}
    </a>

    <ctag-grid readurl="{{'/api/inputs/' + id + '/details'}}"
               columns="columns"
               commands="commands"
               option="gridOption"
            filterable="false">
    </ctag-grid>
</ctag-content>

<form name="form">
    <ctag-modal options="createDetail.modal" title="{{'CREATE DETAIL'| translate}}">
        <ctag-modalbody>
            <div class="form-group" ng-class="{ 'has-error' : form.goodId.$invalid && !form.goodId.$pristine }">
                <label class="control-label" style="display: block">{{'GOOD'| translate}}</label>
                <ctag-combo url="/api/goods" valueprop='id' displayprop="title" placeholder="کالا را وارد کنید" model="createDetail.detail.goodId"
                            required width="400px"
                            name="goodId"></ctag-combo>
                <p ng-show="form.goodId.$invalid && !form.goodId.$pristine">
                    <span class="label label-danger">{{'GOOD IS REQUIRED' | translate}}</span>
                </p>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : form.qty.$invalid && !form.qty.$pristine }">
                <label class="control-label" style="display: block">{{'QTY' | translate}}</label>
                <ctag-numeric model="createDetail.detail.qty" isprice="false" name="qty" required></ctag-numeric>

                <p ng-show="form.qty.$invalid && !form.qty.$pristine">
                    <span class="label label-danger">{{'QTY IS REQUIRED' | translate}}</span>
                </p>
            </div>
        </ctag-modalbody>
        <ctag-modalfooter>
            <a ng-click="createDetail.save(form)" class="btn btn-success">
                <i class="glyphicon glyphicon-floppy-disk"></i>
                {{'SAVE' | translate}}
            </a>
        </ctag-modalfooter>
    </ctag-modal>

    <ctag-modal options="updateDetail.modal" title="{{'EDIT DETAIL'| translate}}">
        <ctag-modalbody>
            <div class="form-group" ng-class="{ 'has-error' : form.goodId.$invalid && !form.goodId.$pristine }">
                <label class="control-label" style="display: block">{{'GOOD'| translate}}</label>
                <ctag-combo url="/api/goods" valueprop='id' displayprop="title" placeholder="کالا را وارد کنید" model="updateDetail.detail.goodId"
                            required width="400px"
                            name="goodId"></ctag-combo>
                <p ng-show="form.goodId.$invalid && !form.goodId.$pristine">
                    <span class="label label-danger">{{'GOOD IS REQUIRED' | translate}}</span>
                </p>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : form.qty.$invalid && !form.qty.$pristine }">
                <label class="control-label" style="display: block">{{'QTY' | translate}}</label>
                <ctag-numeric model="updateDetail.detail.qty" isprice="false" name="qty"></ctag-numeric>

                <p ng-show="form.qty.$invalid && !form.qty.$pristine">
                    <span class="label label-danger">{{'QTY IS REQUIRED' | translate}}</span>
                </p>
            </div>
        </ctag-modalbody>
        <ctag-modalfooter>
            <a ng-click="updateDetail.save(form)" class="btn btn-success">
                <i class="glyphicon glyphicon-floppy-disk"></i>
                {{'SAVE' | translate}}
            </a>
        </ctag-modalfooter>
    </ctag-modal>
</form>