<ctag-content title="{{'INPUT CREATE'| translate}}">
    <form name="form">
        <a class="btn btn-success" ng-click="save(form)" ng-disabled="form.$invalid">
            <i class="glyphicon glyphicon-floppy-disk"></i>
            {{'SAVE' | translate}}
        </a>

        <div class="row" style="padding: 5px">
            <div class="alert alert-danger" role="alert" ng-if="errors.length">
                <strong>لطفا خطاها را اصلاح کنید</strong>
                <ul ng-repeat="err in good.errors">
                    <li>{{err}}</li>
                </ul>
            </div>

            <div class="col-md-6">
                <div class="form-group" ng-class="{ 'has-error' : form.date.$invalid && !form.date.$pristine }">
                    <label class="control-label">{{'DATE' | translate}}</label>

                    <div>
                        <ctag-datepicker model="input.date" name="date" required></ctag-datepicker>
                    </div>
                    <p ng-show="form.date.$invalid && !form.date.$pristine">
                        <span class="label label-danger">{{'DATE IS REQUIRED' | translate}}</span>
                    </p>
                </div>

                <div class="form-group"
                     ng-class="{ 'has-error' : form.sectionId.$invalid && !form.sectionId.$pristine }">
                    <label class="control-label">{{'SECTION' | translate}}</label>

                    <div>
                        <ctag-combo url="/api/sections" valueprop="id" displayprop="title" placeholder="..."
                                    model="input.sectionId" name="sectionId" width="400px" required></ctag-combo>
                    </div>
                    <p ng-show="form.sectionId.$invalid && !form.sectionId.$pristine">
                        <span class="label label-danger">{{'SECTION IS REQUIRED' | translate}}</span>
                    </p>
                </div>

                <div class="form-group"
                     ng-class="{ 'has-error' : form.deliveryId.$invalid && !form.deliveryId.$pristine }">
                    <label class="control-label">{{'DELIVERRY' | translate}}</label>

                    <div>
                        <ctag-combo url="/api/employees" valueprop="id" displayprop="title" placeholder="..."
                                    model="input.deliveryId" width="400px"></ctag-combo>
                    </div>
                    <p ng-show="form.deliveryId.$invalid && !form.deliveryId.$pristine">

                    </p>
                </div>
            </div>
        </div>
        </div>
    </form>
</ctag-content>