
<!DOCTYPE html>
<link href="~/Content/loginRegister.css" rel="stylesheet" />
<html>
<head>
    <title>Register</title>
</head>
<body>
<div>
    @Html.ActionLink("ثبت نام بعنوان پرسنل سازمان", "RegisterByEmployee");
    @Html.ActionLink("ثبت نام بعنوان افراد متفرقه","RegisterByName")
</div>
</body>
</html>